.bgimage {
  background-image: url('../images/The Lord Himself.jpg');
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: auto;
}

.jumbotron{
    background-color:#101010;
    color:white;
}

.text {
  color: white;
  text-align: center;
}

.sportsTeam-responsive {
    height: 90px;
    width: auto;
    display: inline-block;
    margin: 5px;
  }

.services section {
  text-align: center;
}

@charset "utf-8";
body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
}
.pageWrapper {
  width: 100%;

}

#bodyWrapper {
    background-color: rgba(230, 230, 230,0) !important;
    border: none;
    padding: 1em 0 0 0;
    // width: 500px;
    // margin: 0 auto;
}

#my-little-search-box {
    padding: .5em 0 1em 0;
}

#bodyContent {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumb {
    background-color: white;
    // border: 1px solid rgb(183, 51, 51);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.FORM {
  display: inline;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }

  .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

#right-main-column {
    background-color: white;
    overflow: hidden;
    // border: 1px solid rgb(183, 51, 51);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 1em;
    padding-bottom: 1em;
}

input:hover, input:focus, .form-control:hover, .form-control:focus {
  font-family: Montserrat, Arial, sans-serif, monospace!important;
}
body {
  background: #2e342f;
  background-image:url(https://i.imgur.com/fGA06oO.png);
  background-position:top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  color: #000;
  margin:35px 0 0 0;
  font-size: 14px;
  font-family: Montserrat, Helvetica, Arial,  sans-serif;
}
#nav-bot{padding:2em;}

    .hidden-tiny{
      display:none;
    }

    ul.dropdown-menu>li{
      padding:.5em;
      line-height: 2em;
    }
    ul.dropdown-menu>li>a{
      font-size:20px;
    }
    ul.dropdown-menu>li.divider{
      margin: 0 2em;
      padding: 2px;
    }

h1, h2, h3, h4, h5{
  font-family: xkcd-Regular, Montserrat, Helvetica, "Arial Black", Arial,  sans-serif;
  font-weight: 700;
}

#header {
  height: 95px;
  background-image:url();
}

.contentContainer {
padding: 1em;
background-color: white;
margin-top: 1em;
}

.contentText, .contentText table {
  padding: 1em;
  /*font-size: 11px;*/
  line-height: 1.5;
  border-radius: 2px;
}
.contentText  {
  background-color:white;
  margin-bottom:1em;
  }

  .paddedWhiteDiv{
  padding:1em;
  background-color:white;
  border-radius: 2px;
  margin-top:1em;
}

.panel-primary {
  border-color: #B73333;
}

.panel{
  width:100%;
  border-radius: 2px;
}

.panel-heading{
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.panel-footer {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#nav-bot{padding:2em;}

